*{
    box-sizing: border-box;    
}

body
{ 
  color: #000;
}

#topbar
{
  position :fixed;
  z-index: 1000;
  background-color: rgba(97, 115, 128, 0.84);  
  box-shadow: 0px 0px 6px 2px #283327;
  min-width: 100%;
  font-size: 12px;
  height: 45px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow: hidden;
}


#loginOption{
  margin-top: 5px;
}

#marco
{
  position: relative;
  top: 62px;  
  margin-bottom: 62px;
  border: 1px solid #ccc;
  background-image: url("../gfx/tomalared.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(204,204,204,0.9);
}

#createUser
{
  position: relative;
  top: 62px;  
  margin-bottom: 62px;
  border: 1px solid #ccc;
  background-image: url("../gfx/tomalared.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(204,204,204,0.9);
}

#reg
{  

  width: 100%;  
  text-align: center;   
  color: black;
  padding-bottom: 10px;
  margin: 0 auto;
  display: block;
  width: 210px;  
}

#footer
{
  position: absolute;
  bottom: 0px;
  padding: 5px;    
  text-align: center; 
  float: left;  
  width: 100%;
  margin-top: 10px;
  color: white;
  padding: 5px;
  font-size: 9px;
  line-height: normal;
  z-index: 100;
  background-color: rgba(204, 204, 204, 0.84);
  box-shadow: 0px 0px 6px 2px #283327;
}

#titulo img {
  width: 32px;
  border: none !important;  
  margin-left: 10px;
  margin-bottom: 3px;
}

.halt{
  width: 50% !important;
  float: left !important;  
}

.form-control{
  text-align: center;
}


/* Modal de alertas */

.modal {display: block;height: 250px !important;}
.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }
.pad { padding: 25px; }

@media (max-width:1200px) {
  #titulo {
    text-align: center;    
    float: left;
    width: 9%;
    padding-right: 0px;
    padding-left: 0px;    
  }

  #titulo img {        
    max-width: 100%;          
  }

  #loginOption{
    margin-top: 7px;
  }

  #logeo, #loginOption{
    float: right;
    width: 90%;       
  } 
}