<div class="post">
	<div class="row">
		<div class="col-lg-4" >
			<form>			
				<h1>Profile</h1>
				<input type="text" placeholder="Name" class="form-control" ng-model="user.name"/>
				<input type="text" placeholder="Profile" class="form-control" ng-model="user.profile"/>  
				<input type="text" id="user_email" placeholder ="Email" class="form-control" ng-model="user.email"/>
				<button id="crearUser" ng-click="" class="form-control">Editar</button>
		</div>
		<div class="col-lg-4" >		
				<h1>Clave</h1>
				<input type="password" placeholder ="Password" class="form-control" ng-model="user.password"/>
				<input type="password" placeholder="Password Confirmation" class="form-control" ng-model="user.passwordConfirmation"/>
				<button id="crearUser" ng-click="" class="form-control">Cambiar clave</button>
				&nbsp;
			<form>
		</div>
		<div class="col-lg-4" >
			<img src="3">
		</div>
	</div>
</div>