<div class="row">
	<div class="col-lg-3">
		<div id="menuLeft">
			<input ng-model="searchListPost" class="form-control" placeholder="Search" autofocus/>
		</div>
	</div>	
	<div class="col-lg-9" infinite-scroll='loadMore()' infinite-scroll-distance='3'>
		<div ng-repeat="post in posts | filter:searchListPost | orderBy : 'id' : true " class="post">      
			<article class="postContent">		

					<a class="postMuneco" href="#/user/{{post.user_id}}">
						<img src="{{post.user_id}}"> {{post.user_id}}
					</a>							

					<span class="postIconos">
						<a>B</a>
						<a>C</a>
						<a>V</a>
						<span class="timeCount">
							{{post.created_at}}	
						</span>
					</span>
					
					<div class="postText" ng-bind-html="post.content | postsParse"></div>				
					<div class="postFooter">
						<span class="tag" ng-repeat="tag in post.tags"> #{{tag.name}}</span>			
					</div>				
			</article>
			
			<footer class="postComments">
				comentarios		
			</footer>
			
			<input type="hidden" id="post_{{post.id}}" class="created_at" value="{{post.created_at}}"/>
		</div>
	</div>
</div>