<!DOCTYPE html>
<html ng-app="Tomalared">
	<head>		
		<title>::Tomalared:: {{pageName}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
		<link rel="stylesheet" href="css/main.css">    

		<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script src="http://code.angularjs.org/1.1.5/angular.js"></script>
		<script src="http://code.angularjs.org/1.1.5/angular-cookies.js"></script>
		<script src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
	</head>

	<body>
		<header class="fixed topbar" id="topbar" ng-controller="login">	
			<div class="searcher" ng-if="athu" ng-include src="'partials/topbar/authenticated.html'">									
			</div>					
			<div class="searcher" ng-if="!athu" ng-include src="'partials/topbar/login.html'">					
			</div>
		</header>

		<div class="container">
			<div>
				<section class="login">
					<div id="error"></div>									
					<div id="yield" ng-view class="contenido"></div>
				</section>
				
				<input type="hidden" id="remote" name="remote" value="" />
				<input type="hidden" id="destinatario" value="<%=@destinatario%>"/>
				<div id="cargandoPag" align="center" style="display: none">
				    <%= image_tag("/gfx/pagina.gif", :title => "Cargando", :alt => "Cargando", :id=> 'loarding') %>
				</div>
			</div>		
		</div>
		
		<footer id="footer">
			<a href="http://ozimodo.rubyforge.org/">Ozimodo</a> ~  
			<a href="http://rubyonrails.org/">RubyOnRails</a> 					
		</footer>
	</body>
</html>