<div class="row">
 	<div id="titulo" class="col-lg-9">
  		<div>	
			<a href="#/post"><img src="gfx/LogoWhiteSombra{{connection}}.png" class="linkRemote titulo"></a>
		</div>
	</div>
	<div id="logout" class="col-lg-3">
		<button class="btn btn-default" type="button" ng-click="logout()" title="Opciones"><span class="glyphicon glyphicon-log-out"></span></button>		
		<button class="btn btn-default" type="button" ng-click="profile()" title="Opciones"><span class="glyphicon glyphicon-user"></span></button>
		<button class="btn btn-default" type="button" ng-click="openPub()" title="Opciones"><span class="glyphicon glyphicon-plus"></span></button>		
	</div>
</div>