<form>
	<div class="row">
	 	<div id="titulo" class="col-lg-4">
	  		<div>	
				<img src="gfx/LogoWhiteSombra{{connection}}.png" class="linkRemote titulo">
			</div>
		</div>
	  <div id="logeo" class="col-lg-4">
	    <div class="input-group">
	      <input type="text" name="user" placeholder="Nick" class="form-control halt" id="login_user" ng-model="userName">
	      <input type="password" name="password" placeholder="Password" class="form-control halt" id="login_password" ng-model="userPassword">				      
          <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="login()"  ng-disabled="!userName || !userPassword" ><span class="glyphicon glyphicon-log-in"></span></button>
	      </span>
	    </div>				  
	  </div>
	  <div id="loginOption" class="col-lg-2">  
		  <span class="input-group-addon">
	        <input type="checkbox" name="remember_me" id="remember_me" ><label for="remember_me"> Recuerdame</label> | <label>Olvide contraseña </label>
	      </span>										
	  </div>
  	</div>
</form>